
.fontnav {
    color:  var(--negro)!important;
    font-size: 16px;
    font-family: fuente1;
  }
  .salir{
    color:  var(--negro)!important;
    font-size: 16px;
    font-family: fuente1;
    cursor: pointer;
  }
  
  /*#233e62*/
  .bg-nav{
    background:var(--grey);
    width: 100%!important;
    position: fixed;
    z-index: 10;
  }
  
  .spn{
    color:var(--negro);
    font-family: fuente1;
    font-size: 20px;
  }

  .link{
    color:  var(--negro);
    text-decoration: none!important;
  }